html {
    font-size: 10px;
    background: url(../background.jpg);
    background-size: cover;
}

body {
    font-size: 2rem;
    height: 100vh;
    display: flex;
    align-items: center;
}

.clock {
    height: 30rem;
    width: 30rem;
    border: 20px solid white;
    border-radius: 50%;
    margin: 5rem auto;
    background: rgba(0, 0, 0, .4);
    box-shadow:
        0 0 2px 4px rgba(0, 0, 0, 0.1),
        inset 0 0 1px 2px #EFEFEF,
        inset 0 0 30px black,
        0 0 10px 3px rgba(0, 0, 0, 0.2);
}

.clock-face {
    position: relative;
    height: 100%;
    width: 100%;
}

.hand {
    width: 50%;
    background: #fff;
    position: absolute;
    top: 50%;
    right: 50%;
    transform-origin:100%;
    box-shadow:
        0 0 0 .1px #fff,
        0 0 0 1px rgba(0, 0, 0, 0.1),
        0 0 8px rgba(0, 0, 0, 0.4),
        2px 5px 1px rgba(0, 0, 0, .5);
    transform: rotate(90deg);
    transition-timing-function: cubic-bezier(0.9, 0.54, 0.26, 1.68);
}

.clock-face:after {
    width: 1em;
    height: 1em;
    left: 50%;
    top: 50%;
    position: absolute;
    display: block;
    content: ''; 
    /* CSS的 content CSS 属性用于在元素的  ::before 和 ::after 伪元素中插入内容。 */
    background-color: #a8c5d1;
    border-radius: 50%;
    box-shadow:
        0 0 0 2px rgba(0, 0, 0, 0.1),
        0 0 10px rgba(0, 0, 0, 0.2);
    transform: translate(-50%, -50%);
}

.hour-hand {
    width: 33%;
    height: 10px;
    margin-top: -5px;
    border-bottom-left-radius: .5em;
    border-top-left-radius: .5em;
    transition: all 3s;
}

.min-hand {
    width: 42%;
    height: 5px;
    margin-top: -2.5px;
    transition: all .1s cubic-bezier(0.9, 0.54, 0.26, 1.68);
}

.second-hand {
    width:47%;
    height: 2px;
    margin-top: -1px;
    border-bottom-left-radius: 100%;
    border-top-left-radius: 100%;
    transition: all .05s cubic-bezier(0.9, 0.54, 0.26, 1.68);
    background-color: red;
}